/****************************************************************************


gen_hk~1.rc

produced by Borland Resource Workshop


*****************************************************************************/


#include "cfgdlg.h"


CFGDIAG DIALOG 34, 39, 231, 214
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CLIPSIBLINGS | WS_CAPTION | WS_SYSMENU
CAPTION "Flamekeys plug-in"
FONT 8, "MS Sans Serif"
{
 GROUPBOX "Customize hotkeys", IDC_GROUPBOX1, 6, 6, 167, 69, BS_GROUPBOX | WS_GROUP
 LTEXT "Function", -1, 13, 17, 60, 8, NOT WS_GROUP
 COMBOBOX IDC_COMBO, 13, 27, 153, 89, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_TABSTOP | WS_VSCROLL
 LTEXT "Hotkey (Backspace to restore)", -1, 13, 45, 149, 8, NOT WS_GROUP
 EDITTEXT IDC_EDIT, 13, 54, 114, 12, WS_BORDER | WS_TABSTOP
 CHECKBOX "Enabled", IDC_ENABLED, 131, 54, 39, 12, BS_AUTOCHECKBOX | WS_TABSTOP
 GROUPBOX "Options", IDC_GROUPBOX2, 6, 81, 167, 45, BS_GROUPBOX | WS_GROUP
 CHECKBOX "Show warning on hotkey activation error", IDC_HKWARN, 13, 93, 146, 12, BS_AUTOCHECKBOX | WS_TABSTOP
 GROUPBOX "OSD", IDC_GROUPBOX3, 6, 133, 167, 71, BS_GROUPBOX | WS_GROUP
 CHECKBOX "Enable OSD", IDC_OSD, 13, 107, 60, 12, BS_AUTOCHECKBOX | WS_TABSTOP
 LTEXT "Display time (x10ms)", IDC_OSDTXT, 13, 145, 67, 8, NOT WS_GROUP
 EDITTEXT IDC_OSDTIME, 87, 141, 25, 12, WS_BORDER | WS_TABSTOP
 CHECKBOX "Fade out effect (Win2k/XP)", IDC_FADEOUT, 13, 157, 105, 12, BS_AUTOCHECKBOX | WS_TABSTOP
 CHECKBOX "Prevent show in fullscreen", IDC_SMFS, 13, 172, 106, 12, BS_AUTOCHECKBOX | WS_TABSTOP
 CHECKBOX "Prevent overriding topmost windows", IDC_SMTM, 13, 187, 144, 12, BS_AUTOCHECKBOX | WS_TABSTOP
 DEFPUSHBUTTON "OK", IDC_OK, 180, 10, 45, 15, BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "Cancel", IDC_CANCEL, 180, 27, 45, 15, WS_TABSTOP
 PUSHBUTTON "Help", IDC_ABOUT, 180, 59, 45, 15, WS_TABSTOP
 CHECKBOX "Enabled", IDC_PLUGENABLED, 184, 175, 39, 12, BS_AUTOCHECKBOX | WS_TABSTOP
 PUSHBUTTON "Uninstall", IDC_UNINSTALL, 180, 189, 45, 15, NOT WS_TABSTOP | WS_GROUP
}

